article p img {
    display: block;
}

article hgroup h3 {
    margin-left: 60px;
}

article hgroup footer {
    margin-left: 60px;
}

.invisible {
    visibility:hidden;
    width:0;
    height:0;
}

#uploadForm {
    display: inline;
}

#uploadForm label {
    display: inline;
}

#uploadMedia {
    margin: 0;
    padding: 0;
}

.textarea-container {
  position: relative;
}

.users-list {
  border-radius: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1040;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.users-list.show {
  display: block;
}

.user-list__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 350px;
}

.user-list__user:hover {
  cursor: pointer;
}

.mentioned-list-content {
  max-height: 180px;
  overflow: auto;
}

.user-list__user .avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 15px;
  border-radius: 50%;
  background-size: cover;
}

.user-list__user .info {
  display: flex;
  flex-direction: column;
}

.user-list__user .info .name {
  color: #000;
  margin-bottom: 5px;
  font-size: 14px;
}

.user-list__user .info .nickname {
  color: #000;
  font-size: 14px;
}

.user-list__user .nickname {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.mentioned-list-content::-webkit-scrollbar  {
  width: 2px;
}

.mentioned-list-content::-webkit-scrollbar-thumb {
  color: #ccc;
}