{{define "content"}}
<table>
  <thead>
    <tr>
      <th scope="col"><input id="delete_all" type="checkbox" name="delete_all" data-tooltip="Delete all messages"></th>
      <th scope="col">From</th>
      <th scope="col">Received</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="checkbox" name="delete_fa47b31"></th>
      <td><a href="/user/kate">kate</a></td>
      <td>2 days ago</td>
      <td><a href="/msg/fa47b31">Hello there</a></td>
    </tr>
  </tbody>
</table>
{{end}}
