{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h2>Private Messages</h2>
        <h3>Your private messages</h3>
      </hgroup>
      <form id="delete" action="/messages/delete" method="POST">
        <table>
          <thead>
            <tr>
              <th scope="col"><input id="delete_all" type="checkbox" name="delete_all" data-tooltip="Delete all messages"></th>
              <th scope="col">From</th>
              <th scope="col">Received</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Messages }}
              <tr>
                <th scope="row"><input type="checkbox" name="hash" value="{{ .Hash }}"></th>
                <td><a href="/user/{{ .From }}">{{ .From }}</a></td>
                <td>
                  <a class="u-url" href="/msg/{{ .Hash }}">
                    <time class="dt-published" datetime="{{ .Sent | date "2006-01-02T15:04:05Z07:00" }}">
                      {{ dateInZone (.Sent | formatForDateTime) .Sent $.User.DisplayDatesInTimezone }}
                    </time>
                  </a>
                  <span>&nbsp;({{ .Sent | time }})</span>   
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
        <input type="submit" name="delete" value="Delete Selected">
      </form>
      <hgroup>
        <h2>Compose Message</h2>
      </hgroup>
      <form id="compose" action="/messages/send" method="POST">
        <input id="recipient" name="recipient" placeholder="Username" required>
        <input id="subject" name="subject" placeholder="Subject" required>
        <div class="textarea-container">
          <textarea id="body" name="body" placeholder="Your message" rows=3 maxlength={{ $.MaxTwtLength }} required></textarea>
        </div>
        <div class="grid">
          <div>
            <button id="send" type="submit">
              <i class="icss-paper-plane"></i>
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <hgroup>
        <h2>Private Messaging</h2>
      </hgroup>
      <p>
        Private messaging on {{ .InstanceName }} is very simple and follows
        a similar form to Twt(s) themselves. In other words you can send
        private messages to users on the same pod as you.
      </p>
      <p>
        Find the username of the person you want to message, and type in a
        short message (<i>limited to {{ .MaxTwtLength }} characters</i>) and
        hit the "Send" button.
      </p>
      <p>
        <b>NOTE:</b>&nbsp;Messages are not encrypted or signed at this time so it is
        currently possible for the Pod Operator of {{ .InstanceName }}
        to view your private messages. This will change in time as we continue
        to develop this feature out and add e2e encryption. THank you.
      </p>
    </div>
  </article>
{{end}}
