{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
          <h2>{{tr . "RegisterTitle"}}</h2>
        <p> {{tr . "RegisterSummary" (dict "InstanceName" $.InstanceName)}}</p>
      </hgroup>
      <form id="register" action="/register" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{tr . "RegisterFormUsername"}}" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="password" name="password" placeholder="{{tr . "RegisterFormPassword"}}" aria-label="Password" autocomplete="current-password" required>
        <input type="email" name="email" placeholder="{{tr . "RegisterFormEmail"}}" aria-label="Email">
        <small>
            <b>{{tr . "RegisterFormEmailSummary"}}</b>
        </small>
        <fieldset>
          <label>
            <input id="agree" type="checkbox" name="agree" role="switch">
            I agree to abide by the <a href="/abuse">Community Guidelines</a>.
          </label>
        </fieldset>
        <button type="submit" class="contrast">Register</button>
        <p>Already have an account? <a href="/login">/login</a> instead.</p>
      </form>
    </div>
    <div>
      <hgroup>
        <h2>How to create an account</h2>
      </hgroup>
      <p>
        You are about to create a new <a href="https://twt.social" target="_blank">Twt.social</a>
        account on {{ .InstanceName }}
      </p>
      <p>
        By registering an account on {{ .InstanceName }} you agree to abide
        by the Community Guidelines set out in the <a href="/abuse">Abuse Policy</a>.
      </p>
      <p>
        <ul>
          <li>Pick a username</li>
          <li>Create a unique and secure password</li>
          <li>Enter your email address in case you forget your password</li>
        </ul>
      </p>
      <p>
        Pick any username you like (<i>as long as it is available on {{ .InstanceName }}</i>).
      </p>
      <p>
        Please note we <b>DO NOT</b> actually store your email address at all!
        If you forget your email address or lose access to your email we are
        really sorry but you will be unable to recover your account if you
        forget your password.
      </p>
    </div>
  </article>
{{end}}
