---
name: Go
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Build and Test
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: 'noninteractive'
        run: |
          sudo apt-get install -y ffmpeg-dev
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
        id: go
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build
        run: go build -v ./cmd/twtd/...
      - name: Test
        run: go test -v -race ./...
